/* You can add global styles to this file, and also import other style files */
/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Garante fullscreen real */
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
